.service{
  display: flex;
  flex-direction: row;
  padding: .8rem 1rem;
}

.service .img{
  display: flex; 
  align-items: center;
  justify-content: center;

}

.service .img > img{
  /* width: 100%; */
  width: 200px; 
  vertical-align: middle;
  margin: 1.5rem auto;
}

.service > div{
  padding: 14px 16px;
}

.service > div h5{
  margin: 1rem 0;
  text-align: left;
  color: #333;
}


.service > div p{ 
  text-align: left;
  color: #333;
  padding: 0 0 !important;
  font-size: 1rem !important;
}


.bt{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}